<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Taste Tracker</title>
  <link href="/styles/style.css" rel="stylesheet" />
</head>
<body>
<main class="main-content" layout:fragment="content">
<div class="home-container">
    <div class="category-container">
      <ul class="list-border">
        <li th:each="category: ${categories}">
          <div class="category-item">
            <a href="#" th:href="@{|/category/${category.name}|}">
              <img class="category-image"
               src="../static/img/1000_F_255573369_NrbcMNYC1hz1xJigxCOCN8OXsxmtx0TB.jpg"
                   alt="nazwa-kategorii"
                   th:alt="${category.name}"
               width="1087px"
               height="256px"
              >
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
</body>
</html>
