<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Taste Tracker</title>
  <link href="/styles/style.css" rel="stylesheet" />
</head>
<body>
<main class="main-content" layout:fragment="content">
<div class="home-container">
    <div class="category-container">
      <div class="category-item">
        <img class="category-image" src="./public/external/1000_F_255573369_NrbcMNYC1hz1xJigxCOCN8OXsxmtx0TB.jpg" alt="Restauracja 1" width="500px" height="200px">
      </div>

      <div class="category-item">
        <img class="category-image" src="./public/external/1000_F_561921320_LKxezH11k6QcfojX6tYatdQXAMJsV68H.jpg" alt="Restauracja 2">
      </div>

      <div class="category-item">
        <img class="category-image" src="link-do-zdjecia-restauracji2.jpg" alt="Restauracja 2">
      </div>

      <div class="category-item">
        <img class="category-image" src="link-do-zdjecia-restauracji2.jpg" alt="Restauracja 2">
      </div>

      <div class="category-item">
        <img class="category-image" src="link-do-zdjecia-restauracji2.jpg" alt="Restauracja 2">
      </div>
    </div>
  </div>
</main>
</body>
</html>
