<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Taste Tracker</title>
  <link href="/styles/style.css" rel="stylesheet" />
</head>
<body>
<main class="main-content" layout:fragment="content">
<div class="home-container">
     <span class="signupmodal-title">
          <span >Kategorie</span>
            </span>
    <div class="category-container">
      <ul class="list-border">
        <li th:each="category: ${categories}">
          <a href="#" th:href="@{|/category/${category.name}|}">
          <div class="category-item">

              <img class="category-image"
               src="../static/img/1000_F_255573369_NrbcMNYC1hz1xJigxCOCN8OXsxmtx0TB.jpg"
                   th:src="@{/img/1000_F_255573369_NrbcMNYC1hz1xJigxCOCN8OXsxmtx0TB.jpg}"
                   alt="nazwa-kategorii"
                   th:alt="${category.name}"
              >
          </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
</body>
</html>
