<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <title>Taste Tracker</title>
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
  <main class="main-content" layout:fragment="content">
      <div class="home-container">
        <form class="custom-form" id="searchForm" th:action="@{/}" method="get">
          <input class="home-input-search"
                 type="text"
                 id="search"
                 name="search" required
                 list="suggestions"
                 placeholder="Nazwa restauracji"
          >
          <div class="search-datalist">
          <datalist id="suggestions">
          </datalist>
          </div>
          <button class="custom-button" type="submit">Wyszukaj</button>
      </form>
        <div class="home-hero">
          <span class="home-text14">
            <span>Śledź smaki, odkrywaj przyjemności </span>
          </span>
          <span class="home-text16">
            <span>
              Podróżuj przez świat smaków, śledź najnowsze kulinarne trendy i
              odkrywaj unikalne doznania. Znajdź inspirację w setkach przepisów,
              dziel się swoimi ulubionymi smakami z innymi pasjonatami, a
              wszystko to w jednym miejscu, gdzie każdy kęs to nowa przygoda.
            </span>
          </span>
          <img
            alt="Doodle31530"
            src="../static/img/doodle31530-yb1q.svg"
            class="home-doodle3"
            th:src="@{img/doodle31530-yb1q.svg}"
          />
          <img
            alt="Vector1532"
            src="../static/img/vector1532-46wc.svg"
            class="home-vector"
            th:src="@{img/vector1532-46wc.svg}"
          />
          <img
            alt="Vector1532"
            src="../static/img/vector1532-a9jr.svg"
            class="home-vector1"
            th:src="@{img/vector1532-a9jr.svg}"
          />
        </div>
        <div class="home-content-div">
          <span class="home-recenzja-tytul">Promowane restauracje</span>
        </div>
        <div class="home-content" th:remove="all-but-first">
          <div class="home-recenzja3" th:each="restaurant: ${restaurants}">
            <div class="home-frame562">
              <div class="home-frame50">
                <a href="#" th:href="@{|/restaurant/${restaurant.id}|}">
                  <img class="restaurant-main"
                       th:src="${restaurant.banner ne null} ? @{|/img/${restaurant.banner}|} : @{/img/restaurant-449952_640.jpg}"
                       src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg"

                       th:alt="|Restauracja: ${restaurant.name}|">
                </a>
                <div class="text-container">
                  <a href="#" th:href="@{|/restaurant/${restaurant.id}|}">
                    <h2 class="restaurant-name" th:text="${restaurant.name}"></h2>
                  </a>
                </div>
                <div class="text-container-city">
                  <h2 class="restaurant-city" th:text="|(${restaurant.city})|"></h2>
                </div>
              </div>
            </div>
          </div>

          <div class="home-recenzja3">
             <div class="home-frame562">
                <div class="home-frame50">
                  <img class="restaurant-main" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Logo Restauracji 1">
                </div>
              </div>
          </div>

          <div class="home-recenzja3">
          </div>
          </div>
      </div>
    <script defer src="../static/scripts/restaurant-scroll.js" th:src="@{/scripts/restaurant-scroll.js}"></script>
    <script defer src="../static/scripts/api-search.js" th:src="@{/scripts/api-search.js}"></script>
    <script defer src="../static/scripts/api-search.js" th:src="@{/scripts/build-url-search.js}"></script>
    </main>
  </body>
</html>
