<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taste Tracker</title>
    <link rel="stylesheet" href="../styles/style.css"  th:href="@{/styles/style.css}">
</head>
<body>
<header class="home-header">
    <nav>
        <div class="home-logo">
            <a th:href="@{/}">
            <img
                    alt="LogoImage1504"
                    src="../static/img/logo.png"
                    class="home-logo-image"
                    th:src="@{/img/logo.png}"

            />
            <span class="home-text">
              <span>Taste</span>
              <br />
              <span>Tracker</span>
            </span>
            </a>
        </div>
        <div class="home-container1">
            <div class="home-container5">
                <div class="home-menu">
                    <a class="home-text06" href="#" th:href="@{/}">Start</a>
                    <a class="home-text06" href="#" th:href="@{/category}">Kategorie</a>
                    <a class="home-text06" href="#" th:href="@{/contact}">Kontakt</a>
                    <a class="home-text06" href="#" sec:authorize="hasAnyRole('ADMIN', 'EDITOR', 'USER')"
                       th:href="@{/restaurant/add}">Dodaj</a>
                    <a class="home-text06" href="#" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')" th:href="@{/admin}">Administracja</a>
                </div>
            </div>
            <a class="home-button-log-in"  href="#"
               th:href="@{/login}"
                sec:authorize="!isAuthenticated()">
                <span class="home-text10">ZALOGUJ</span>
            </a>

            <a class="home-button-log-out"  href="#"
               th:href="@{/logout}"
               sec:authorize="isAuthenticated()">
                <span class="home-text10">WYLOGUJ</span>
            </a>

            <a class="user-avatar"
               sec:authorize="isAuthenticated()">
                <span class="user-avatar-text"
                      th:text="${#authentication.getName().toUpperCase()}">nickname</span>
            </a>


            <a class="home-button-sign-up"
               href="#"
               th:href="@{/registration}"
               sec:authorize="!isAuthenticated()">
                <span class="home-text12">DOŁĄCZ</span>
            </a>
        </div>
    </nav>
</header>

<main class="main-content" layout:fragment="content">
</main>

<footer>
    <div class="home-footer">
        <div class="home-s-mframe">
            <div class="home-instagram">
                <div class="home-group">
                    <img
                            alt="VectorI828"
                            src="../static/img/vectori828-gy3d.svg"
                            class="home-vector3"
                            th:src="@{/img/vectori828-gy3d.svg}"
                    />
                    <img
                            alt="VectorI828"
                            src="../static/img/vectori828-3jl2.svg"
                            class="home-vector4"
                            th:src="@{/img/vectori828-3jl2.svg}"
                    />
                    <img
                            alt="VectorI828"
                            src="../static/img/vectori828-20d5.svg"
                            class="home-vector5"
                            th:src="@{/img/vectori828-20d5.svg}"
                    />
                </div>
            </div>
            <img
                    alt="facebook8283"
                    src="../static/img/facebook8283-8zgf.svg"
                    class="home-facebook"
                    th:src="@{/img/facebook8283-8zgf.svg}"
            />
            <img
                    alt="linkedin8283"
                    src="../static/img/linkedin8283-xa2n.svg"
                    class="home-linkedin"
                    th:src="@{/img/linkedin8283-xa2n.svg}"
            />
        </div>
        <div class="home-copy-menu-social-button">
            <div class="home-copyrightframe">
                <span class="home-text35">©</span>
                <span class="home-text36"><span>2024 Taste Tracker</span></span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
