<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
  <head>
    <title>Logowanie - Taste Tracker</title>
    <meta property="og:title" content="Logowanie - Taste Tracker" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body>
  <div class="home-container">
      <main class="main-content" layout:fragment="content">
        <div class="logowanie-loginmodal">
            <p th:if="${param.error}"
               th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
               class="logowanie-error"
            >
                Błąd logowania
            </p>

            <p th:if="${param.logout}" class="logout-message">Zostałeś pomyślnie wylogowany</p>

            <div class="logowanie-container1">
              <form action="" th:action="@{/login}" method="post">
                  <div class="logowanie-login">
                      <img
                              alt="Rectangle21532"
                              src="../static/img/rectangle21532-samg-200h.png"
                              class="logowanie-rectangle2"
                              th:src="@{/img/rectangle21532-samg-200h.png}"
                      />
                      <input type="text" class="logowanie-text18" placeholder="Nazwa użytkownika" id="username" name="username"/>
                  </div>
                  <div class="logowanie-haslo">
                      <img
                              alt="Rectangle31532"
                              src="../static/img/rectangle31532-e9tm-200h.png"
                              class="logowanie-rectangle3"
                              th:src="@{/img/rectangle31532-e9tm-200h.png}"
                      />
                      <input type="password" class="logowanie-text18" placeholder="Hasło" name="password" id="password"/>
                  </div>
                  <div class="logowanie-reset">
                      <img
                              alt="Rectangle71532"
                              src="../static/img/rectangle71532-1798-200h.png"
                              class="logowanie-rectangle7"
                              th:src="@{/img/rectangle71532-1798-200h.png}"
                      />
                      <a class="logowanie-text20" href="#"><span>Zapomniałem hasła</span></a>
                  </div>
                  <div class="logowanie-zalogujsie">
                      <img
                              alt="Rectangle71532"
                              src="../static/img/rectangle71532-myrm-200h.png"
                              class="logowanie-rectangle71"
                              th:src="@{/img/rectangle71532-myrm-200h.png}"
                      />
                      <button type="submit" class="logowanie-text22"><span>Zaloguj się</span></button>
                  </div>
              </form>
            </div>
        </div>
      </main>
  </div>
  </body>
</html>
