<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>404 - Not Found</title>
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/styles/style.css"/>
    <style>
    </style>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="home-container">
        <div>
            <div class="not-found-container">
                <div class="not-found-container1">
                    <h1 class="not-found-text1">:)</h1>
                </div>
                <div class="not-found-container2">
                    <p></p>
                    <h2 class="not-found-text2">
                        REJESTRACJA POMYŚLNA!
                    </h2>

                    <h2 class="not-found-text2">
                        MOŻESZ JUŻ SIĘ ZALOGOWAĆ.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
