<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja - TasteTracker.pl</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
<header>
    <h2>Taste Tracker.pl</h2>
    <nav>
        <a href="#">Start</a>
        <a href="#">O nas</a>
        <a href="#">Kontakt</a>
    </nav>
</header>
<!-- Login Modal -->
<div class="login-modal">
    <form accept="" class="login-modal">
        <div class="modal-content">
            <h2>Zarejestruj się</h2>
            <div class="form-group">
                <label for="username">Nazwa użytkownika:</label>
                <input type="text" id="username" name="username" placeholder="email" required>

                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" placeholder="********" required>

                <label for="password">Powtórz Hasło:</label>
                <input type="password" id="password" name="password" placeholder="********" required>

                <button type="button">Zarejestruj się</button>
            </div>

    </form>
</div>
<footer>
    &copy; 2024 TasteTracker.pl. Wszelkie prawa zastrzeżone.
</footer>
</body>
</html>