<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rejestracja - Taste Tracker</title>
    <meta property="og:title" content="Rejestracja - Taste Tracker" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <link href="../static/styles/index.css" rel="stylesheet" />
    <div>
      <div class="home-container">
        <header class="home-header">
          <nav>
            <div class="home-logo">
              <img
                      alt="LogoImage1504"
                      src="./public/external/logoimage1504-bofih-200w.png"
                      class="home-logo-image"
              />
              <span class="home-text">
              <span>Taste</span>
              <br />
              <span>Tracker</span>
            </span>
            </div>
            <div class="home-container1">
              <div class="home-container5">
                <div class="home-menu">
                  <a class="home-text06" href="#">Start</a>
                  <a class="home-text06" href="#">O projekcie</a>
                  <a class="home-text06" href="#">Kontakt</a>
                </div>
              </div>
              <a class="home-button-log-in"  href="#">
                <span class="home-text10">ZALOGUJ SIĘ</span>
              </a>
              <a class="home-button-sign-up button" href="#">
                <span class="home-text12">DOŁĄCZ</span>
              </a>
            </div>
          </nav>
        </header>
        <div class="signupmodal-signupmodal">
          <div class="signupmodal-header">
            <span class="signupmodal-title">
              <span>Zarejestruj się do serwisu</span>
            </span>
          </div>
          <div class="signupmodal-form">
            <div class="signupmodal-haslo2input">
              <img
                alt="Haslo2shape1542"
                src="./public/external/haslo2shape1542-8wyn-200h.png"
                class="signupmodal-haslo2shape"
              />
              <span class="signupmodal-text02"><span>powtórz hasło</span></span>
            </div>
            <div class="signupmodal-imieinput">
              <img
                alt="Imieshape1564"
                src="./public/external/imieshape1564-30qb-200h.png"
                class="signupmodal-imieshape"
              />
              <span class="signupmodal-text04"><span>imię</span></span>
            </div>
            <div class="signupmodal-adresinput">
              <img
                alt="Adresshape1532"
                src="./public/external/adresshape1532-njrb-200h.png"
                class="signupmodal-adresshape"
              />
              <span class="signupmodal-text06"><span>adres e-mail</span></span>
            </div>
            <div class="signupmodal-hasloinput">
              <img
                alt="Hasloshape1542"
                src="./public/external/hasloshape1542-c9f-200h.png"
                class="signupmodal-hasloshape"
              />
              <span class="signupmodal-text08"><span>hasło</span></span>
            </div>
          </div>
          <button class="signupmodal-zarejestrujbutton">
            <img
              alt="ZarejestrujshapeI1564"
              src="./public/external/zarejestrujshapei1564-364n-200h.png"
              class="signupmodal-zarejestrujshape"
            />
            <span class="signupmodal-zarejestrujtext">
              <span>Zarejestruj się</span>
            </span>
          </button>
          <span class="signupmodal-logowanielink">
            Masz już konto? Kliknij tutaj, aby się zalogować
          </span>
        </div>
        <footer>
          <div class="home-footer">
            <div class="home-s-mframe">
              <div class="home-instagram">
                <div class="home-group">
                  <img
                          alt="VectorI828"
                          src="./public/external/vectori828-gy3d.svg"
                          class="home-vector3"
                  />
                  <img
                          alt="VectorI828"
                          src="./public/external/vectori828-3jl2.svg"
                          class="home-vector4"
                  />
                  <img
                          alt="VectorI828"
                          src="./public/external/vectori828-20d5.svg"
                          class="home-vector5"
                  />
                </div>
              </div>
              <img
                      alt="facebook8283"
                      src="./public/external/facebook8283-8zgf.svg"
                      class="home-facebook"
              />
              <img
                      alt="linkedin8283"
                      src="./public/external/linkedin8283-xa2n.svg"
                      class="home-linkedin"
              />
            </div>
            <div class="home-copy-menu-social-button">
              <div class="home-copyrightframe">
                <span class="home-text35">©</span>
                <span class="home-text36"><span>2024 Taste Tracker</span></span>
              </div>
              <div class="home-menu1">
                <span class="home-text40"><span>Start</span></span>
                <span class="home-text40"><span>O projekcie</span></span>
                <span class="home-text40"><span>Kontakt</span></span>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
