<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restauracja - TasteTracker.pl</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>

<body>
<header>
    <h1>TasteTracker.pl</h1>
    <nav>
        <a href="#">Start</a>
        <a href="#">O nas</a>
        <a href="#">Kontakt</a>
        <a href="#" id="loginButton">Zaloguj się</a>
    </nav>
</header>
<div class="container">
    <h2>Nazwa Restauracji</h2>
    <img src="https://t3.ftcdn.net/jpg/03/24/73/92/360_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg" alt="Logo Restauracji">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula massa eu augue fermentum, vel iaculis odio
        laoreet.
    </p>

    <!-- Przykładowe oceny -->
    <div class="ratings">
        <div class="rating-tile">
            <h3>Ocena Kulinarna</h3>
            <p>4.5/5</p>
        </div>

        <div class="rating-tile">
            <h3>Ocena Obsługi</h3>
            <p>4.2/5</p>
        </div>

        <div class="rating-tile">
            <h3>Atmosfera</h3>
            <p>4.0/5</p>
        </div>
    </div>

    <!-- Komentarze -->
    <div class="comments">
        <h3>Komentarze:</h3>
        <div class="comment">
            <p><strong>Użytkownik1:</strong> Super jedzenie! Polecam.</p>
        </div>
        <div class="comment">
            <p><strong>Użytkownik2:</strong> Świetna obsługa, ale ceny trochę wysokie.</p>
        </div>
        <!-- Dodaj więcej komentarzy w razie potrzeby -->
    </div>

    <!-- Przycisk do dodawania nowego komentarza -->
    <a href="#" class="button">Dodaj komentarz</a>
</div>

<footer>
    &copy; 2024 TasteTracker.pl. Wszelkie prawa zastrzeżone.
</footer>
</body>

</html>
