<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <title th:text="|${restaurant.name} - Taste Tracker|">Taste Tracker - Restauracja</title>
  <link href="/styles/style.css" rel="stylesheet" />
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="restaurant-container">
      <img class="restaurant-single-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Logo Restauracji 1">
      <div class="restaurant-details">
        <h2 class="restaurant-name" th:text="${restaurant.name}">Nazwa Restauracji</h2>
        <p class="restaurant-location" th:text="|Lokalizacja: ${restaurant.street}, ${restaurant.city}, ${restaurant.postalCode}, ${restaurant.country}|">Lokalizacja:</p>
        <div class="location-tiles">
          <div class="location-tile">
            <h4>Średnia ocen</h4>
            <p th:unless="${rating.countRating()}">Brak głosów</p>
            <div th:if="${rating.countRating()}">
              <p th:text="|${#numbers.formatDecimal(rating.avgAllRatings(),1,1)}/5,0|">4.0</p>
              <p th:text="|Liczba ocen: ${rating.countRating()}|"></p>
            </div>
          </div>
        </div>

        <div class="location-tiles">
          <div class="location-tile">
            <h4>Ocena Smaku</h4>
            <p th:unless="${rating.countRating()}">Brak głosów</p>
            <div th:if="${rating.countRating()}">
            <p th:text="|${#numbers.formatDecimal(rating.avgRatingTaste(),1,1)}/5,0|"></p>
          </div>
          </div>
          <div class="location-tile">
            <h4>Ocena Atmosfery</h4>
            <p th:unless="${rating.countRating()}">Brak głosów</p>
            <div th:if="${rating.countRating()}">
            <p th:text="|${#numbers.formatDecimal(rating.avgRatingAtmosphere(),1,1)}/5,0|"></p>
          </div>
          </div>
          <div class="location-tile">
            <h4>Ocena Obsługi</h4>
            <p th:unless="${rating.countRating()}">Brak głosów</p>
            <div th:if="${rating.countRating()}">
              <p th:text="|${#numbers.formatDecimal(rating.avgRatingService(),1,1)}/5,0|"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="restaurant-reviews">
        <h2>Recenzje</h2>
        <p class="review" sec:authorize="!isAuthenticated()">
          <a href="#" th:href="@{/login}">Zaloguj się</a>, aby dodać komentarz
        </p>
        <div class="add-review-form" sec:authorize="isAuthenticated()">
          <h3>Dodaj recenzję</h3>
          <form th:action="|/restaurant/${restaurant.id}|" method="post" th:object="${addReview}">
            <p class="review-author" th:text="|Autor: ${addReview.login}|" ></p>
            <p></p>
            <div class="rating-container">
              <label for="review" class="review-author">Ocena Smaku: </label>
              <div class="rating">
                <input type="radio" id="star5" name="ratingTaste" value="5" th:field="*{ratingTaste}" required/><label for="star5"></label>
                <input type="radio" id="star4" name="ratingTaste" value="4" th:field="*{ratingTaste}" /><label for="star4"></label>
                <input type="radio" id="star3" name="ratingTaste" value="3" th:field="*{ratingTaste}" /><label for="star3"></label>
                <input type="radio" id="star2" name="ratingTaste" value="2" th:field="*{ratingTaste}" /><label for="star2"></label>
                <input type="radio" id="star1" name="ratingTaste" value="1" th:field="*{ratingTaste}" /><label for="star1"></label>
              </div>
            </div>
            <p></p>
            <div class="rating-container">
              <label for="review" class="review-author">Ocena Atmosfery: </label>
              <div class="rating">
                <input type="radio" id="star5_2" name="ratingAtmosphere" value="5" th:field="*{ratingAtmosphere}" required/><label for="star5_2"></label>
                <input type="radio" id="star4_2" name="ratingAtmosphere" value="4" th:field="*{ratingAtmosphere}" /><label for="star4_2"></label>
                <input type="radio" id="star3_2" name="ratingAtmosphere" value="3" th:field="*{ratingAtmosphere}" /><label for="star3_2"></label>
                <input type="radio" id="star2_2" name="ratingAtmosphere" value="2" th:field="*{ratingAtmosphere}" /><label for="star2_2"></label>
                <input type="radio" id="star1_2" name="ratingAtmosphere" value="1" th:field="*{ratingAtmosphere}" /><label for="star1_2"></label>
              </div>
            </div>

            <div class="rating-container">
              <label for="review" class="review-author">Ocena Obsługi: </label>
              <div class="rating">
                <input type="radio" id="star5_3" name="ratingService" value="5" th:field="*{ratingService}" required/><label for="star5_3"></label>
                <input type="radio" id="star4_3" name="ratingService" value="4" th:field="*{ratingService}" /><label for="star4_3"></label>
                <input type="radio" id="star3_3" name="ratingService" value="3" th:field="*{ratingService}" /><label for="star3_3"></label>
                <input type="radio" id="star2_3" name="ratingService" value="2" th:field="*{ratingService}" /><label for="star2_3"></label>
                <input type="radio" id="star1_3" name="ratingService" value="1" th:field="*{ratingService}" /><label for="star1_3"></label>
              </div>
            </div>

            <label for="review" class="review-author">Recenzja:</label>
            <textarea class="restaurant-input-review" rows="10" id="review" name="review" th:field="*{reviewContent}" ></textarea>

            <button type="submit"><span class="home-text12">Dodaj recenzję</span></button>
          </form>
        </div>
        <ul class="review-list">
          <li th:each="review : ${reviews}">
            <div class="review">
              <div class="review-date">
              <h4 th:text="${review.date}"></h4>
              </div>
              <h3 class="review-author" th:text="${review.login}">Autor recenzji</h3>
              <span th:text="|Ocena smaku: ${review.ratingTaste}/5|"></span> <span th:text="|Ocena atmosfery: ${review.ratingAtmosphere}/5|"></span> <span th:text="|Ocena obsługi: ${review.ratingService}/5|"></span>
              <p class="review-text" th:text="${review.reviewContent}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel leo vitae ligula consectetur fringilla.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
</body>
</html>
