<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="restaurant-add-notyfication-container" th:if="${notyfication}">
        <p class="restaurant-add-notyfication-bar" th:if="${notyfication}" th:text="${notyfication}">Powiadomienie</p>
        <button class="close-notification-button">X</button>
    </div>
    <div class="restaurant-add-heading">
        <h1>DODAJ RESTAURACJĘ</h1>
    </div>
    <div class="restaurant-add-home-container">
        <div class="form-container">

            <form action="#" th:action="@{/restaurant/add}"
                  method="post"
                  enctype="multipart/form-data"
                  class="add-form-template"
                  th:object="${restaurantDto}">

                <label for="restaurantName" class="name">Nazwa</label>
                <input type="text"
                       id="restaurantName"
                       class="name-add-name-input"
                       placeholder="Nazwa restauracji"
                       maxlength="40"
                       th:field="${restaurantDto.name}"
                       required>
                <label for="addressName" class="name">Ulica</label>
                <input type="text"
                       id="addressName"
                       class="name-add-name-input"
                       placeholder="Ulica, numer budynku/lokalu"
                       maxlength="40"
                       th:field="${restaurantDto.street}"
                       required>
                <label for="cityName" class="name">Miasto</label>
                <input type="text"
                       id="cityName"
                       class="name-add-name-input"
                       placeholder="Miasto..."
                       maxlength="40"
                       th:field="${restaurantDto.city}"
                       required>
                <label for="postalCode" class="name">Kod pocztowy</label>
                <input type="text"
                       id="postalCode"
                       class="name-add-name-input"
                       placeholder="Kod pocztowy..."
                       maxlength="6"
                       th:field="${restaurantDto.postalCode}"
                       required>
                <label for="countryName" class="name">Kraj</label>
                <select id="countryName"
                        class="name-add-name-input"
                        th:field="${restaurantDto.country}"
                        required>
                </select>
                <label for="posterFile" class="posterFile-label">Banner (max. rozmiar: 10 MB)</label>

                <input type="file"
                       id="posterFile"
                       class="posterFile"
                       th:field="${restaurantDto.banner}"
                       accept="image/png, image/jpeg">


<!--                <input type="hidden" id="latitude" name="latitude" value="">-->
<!--                <input type="hidden" id="longitude" name="longitude" value="">-->

                <label for="categoryCheckboxes" class="name">Kategorie</label>

                <div id="categoryCheckboxes" class="hidden">
                </div>

                <input type="hidden" id="selectedCategoryIds" name="selectedCategoryIds" value="" th:field="${restaurantDto.categories}">


                <button type="submit" class="administration-button-accept">Dodaj</button>
            </form>
        </div>


    </div>
    <script src="../static/scripts/restaurant-add-form-scripts.js"
            th:src="@{/scripts/restaurant-add-form-scripts.js}"></script>
    <script src="../static/scripts/restaurant-add-country-api.js"
            th:src="@{/scripts/restaurant-add-country-api.js}"></script>
</main>
</body>
</html>
