<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/styles/style.css"/>
<!--    <script async>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})-->
<!--    ({key: "AIzaSyBf-R4Kx_h3fYN092bpaq7J8jrA8c5_QvY", v: "weekly"});</script>-->
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="restaurant-add-notyfication-container" th:if="${notyfication}">
        <p class="restaurant-add-notyfication-bar" th:if="${notyfication}" th:text="${notyfication}">Powiadomienie</p>
        <button class="close-notification-button">X</button>
    </div>
    <div class="restaurant-add-heading">
        <h1>DODAJ RESTAURACJĘ</h1>
    </div>
    <div class="restaurant-add-home-container">
        <div class="form-container">

            <form action="#" th:action="@{/restaurant/add}"
                  method="post"
                  enctype="multipart/form-data"
                  class="add-form-template"
                  th:object="${restaurantDto}">

                <label for="restaurantName" class="name">Nazwa</label>
                <input type="text"
                       id="restaurantName"
                       class="name-add-name-input"
                       placeholder="Nazwa restauracji"
                       maxlength="40"
                       th:field="${restaurantDto.name}"
                       required>
                <label for="addressName" class="name">Ulica</label>
                <input type="text"
                       id="addressName"
                       class="name-add-name-input"
                       placeholder="Ulica, numer budynku/lokalu"
                       maxlength="40"
                       th:field="${restaurantDto.street}"
                       required>
                <label for="cityName" class="name">Miasto</label>
                <input type="text"
                       id="cityName"
                       class="name-add-name-input"
                       placeholder="Miasto..."
                       maxlength="40"
                       th:field="${restaurantDto.city}"
                       required>
                <label for="postalCode" class="name">Kod pocztowy</label>
                <input type="text"
                       id="postalCode"
                       class="name-add-name-input"
                       placeholder="Kod pocztowy..."
                       maxlength="6"
                       th:field="${restaurantDto.postalCode}"
                       required>
                <label for="countryName" class="name">Kraj</label>
                <select id="countryName"
                        class="name-add-name-input"
                        th:field="${restaurantDto.country}"
                        required>
                </select>
                <label for="posterFile" class="posterFile-label">Banner (max. rozmiar: 10 MB)</label>

                <input type="file"
                       id="posterFile"
                       class="posterFile"
                       th:field="${restaurantDto.banner}"
                       accept="image/png, image/jpeg">


<!--                <input type="hidden" id="latitude" name="latitude" value="">-->
<!--                <input type="hidden" id="longitude" name="longitude" value="">-->

                <label for="categoryCheckboxes" class="name">Kategorie</label>

                <div id="categoryCheckboxes" class="hidden">
                </div>

                <input type="hidden" id="selectedCategoryIds" name="selectedCategoryIds" value="" th:field="${restaurantDto.categories}">

                <label for="openingTimes" class="name">Godziny otwarcia</label>
                <div id="openingTimes">
                    <div class="opening-time-entry">
                        <label>Poniedziałek</label>
                        <input type="time" name="openingHours[MONDAY].openingTime" class="name-add-name-input" required>
                        <input type="time" name="openingHours[MONDAY].closingTime" class="name-add-name-input" required>
                    </div>
                    <div class="opening-time-entry">
                        <label>Wtorek</label>
                        <input type="time" name="openingHours[TUESDAY].openingTime" class="name-add-name-input" required>
                        <input type="time" name="openingHours[TUESDAY].closingTime" class="name-add-name-input" required>
                    </div>
                    <!-- Podobnie dla pozostałych dni tygodnia -->
                </div>

                <button type="submit" class="administration-button-accept">Dodaj</button>
            </form>
        </div>

<!--        <div class="map-container">-->
<!--            <div id="map" class="map"></div>-->
<!--        </div>-->

    </div>
    <script src="../static/scripts/restaurant-add-form-scripts.js"
            th:src="@{/scripts/restaurant-add-form-scripts.js}"></script>
<!--    <script async src="../static/scripts/google/maps/mapScript.js"-->
<!--            th:src="@{/scripts/google/maps/mapScript.js}"></script>-->
    <script src="../static/scripts/restaurant-add-country-api.js"
            th:src="@{/scripts/restaurant-add-country-api.js}"></script>
</main>
</body>
</html>
