<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="|${restaurant.name} - Taste Tracker|">Taste Tracker - Restauracja</title>
  <link href="/styles/style.css" rel="stylesheet" />
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="restaurant-container">
      <img class="restaurant-single-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Logo Restauracji 1">
      <div class="restaurant-details">
        <h2 class="restaurant-name" th:text="${restaurant.name}">Nazwa Restauracji</h2>
        <p class="restaurant-location" th:text="|Lokalizacja: ${restaurant.street}, ${restaurant.city}, ${restaurant.postalCode}, ${restaurant.country}|">Lokalizacja:</p>
        <div class="location-tiles">
          <div class="location-tile">
            <h4>Średnia ocen</h4>
            <p>4/5</p>
          </div>
        </div>

        <div class="location-tiles">
          <div class="location-tile">
            <h4>Ocena Smaku</h4>
            <p>4/5</p>
          </div>
          <div class="location-tile">
            <h4>Ocena Atmosfery</h4>
            <p>4/5</p>
          </div>
          <div class="location-tile">
            <h4>Ocena Obsługi</h4>
            <p>4/5</p>
          </div>
        </div>
      </div>
      <div class="restaurant-reviews">
        <h2>Recenzje</h2>
        <div class="add-review-form">
          <h3>Dodaj recenzję</h3>
          <form>
            <label for="author">Autor:</label>
            <input class="restaurant-input-author" type="text" id="author" name="author" required>

            <label for="rating">Ocena:</label>
            <input class="restaurant-input-rating" type="number" id="rating" name="rating" min="1" max="5" required>

            <label for="review">Recenzja:</label>
            <textarea class="restaurant-input-review" id="review" name="review" required></textarea>

            <button type="submit"><span class="home-text12">Dodaj recenzję</span></button>
          </form>
        </div>
        <ul class="review-list">
          <li th:each="review : ${reviews}">
            <div class="review">
              <h3 class="review-author" th:text="${review.login}">Autor recenzji</h3>
              <h3 class="review-rating">Średnia z ocen: 4/5</h3>
              <p class="review-text" th:text="${review.reviewContent}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel leo vitae ligula consectetur fringilla.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
</body>
</html>
