<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taste Tracker - Restauracja</title>

  <link href="../static/styles/index.css" rel="stylesheet" />
</head>
<body>
  <div class="home-container">
    <header class="home-header">
      <nav>
        <div class="home-logo">
          <img
                  alt="LogoImage1504"
                  src="./public/external/logoimage1504-bofih-200w.png"
                  class="home-logo-image"
          />
          <span class="home-text">
              <span>Taste</span>
              <br />
              <span>Tracker</span>
            </span>
        </div>
        <div class="home-container1">
          <div class="home-container5">
            <div class="home-menu">
              <a class="home-text06" href="#">Start</a>
              <a class="home-text06" href="#">O projekcie</a>
              <a class="home-text06" href="#">Kontakt</a>
            </div>
          </div>
          <a class="home-button-log-in"  href="#">
            <span class="home-text10">ZALOGUJ SIĘ</span>
          </a>
          <a class="home-button-sign-up button" href="#">
            <span class="home-text12">DOŁĄCZ</span>
          </a>
        </div>
      </nav>
    </header>
    <div class="restaurant-container">
      <img class="restaurant-single-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Logo Restauracji 1">
      <div class="restaurant-details">
        <h2 class="restaurant-name">Nazwa Restauracji</h2>
        <p class="restaurant-description">Opis restauracji Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="restaurant-location">Lokalizacja: Miasto, Kraj</p>

        <div class="location-tiles">
          <div class="location-tile">
            <h4>Ocena Smaku</h4>
            <p>4/5</p>
          </div>
          <div class="location-tile">
            <h4>Ocena Atmosfery</h4>
            <p>4/5</p>
          </div>
          <div class="location-tile">
            <h4>Ocena Obsługi</h4>
            <p>4/5</p>
          </div>
        </div>

      </div>

      <div class="restaurant-reviews">
        <h3>Recenzje</h3>
        <div class="review">
          <p class="review-author">Autor recenzji</p>
          <p class="review-rating">Ocena: 4/5</p>
          <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel leo vitae ligula consectetur fringilla.</p>
        </div>

        <!-- Dodaj więcej recenzji tutaj -->

        <div class="add-review-form">
          <h3>Dodaj recenzję</h3>
          <form>
            <label for="author">Autor:</label>
            <input class="restaurant-input-author" type="text" id="author" name="author" required>

            <label for="rating">Ocena:</label>
            <input class="restaurant-input-rating" type="number" id="rating" name="rating" min="1" max="5" required>

            <label for="review">Recenzja:</label>
            <textarea class="restaurant-input-review" id="review" name="review" required></textarea>

            <button type="submit"><span class="home-text12">Dodaj recenzję</span></button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="home-footer">
        <div class="home-s-mframe">
          <div class="home-instagram">
            <div class="home-group">
              <img
                      alt="VectorI828"
                      src="./public/external/vectori828-gy3d.svg"
                      class="home-vector3"
              />
              <img
                      alt="VectorI828"
                      src="./public/external/vectori828-3jl2.svg"
                      class="home-vector4"
              />
              <img
                      alt="VectorI828"
                      src="./public/external/vectori828-20d5.svg"
                      class="home-vector5"
              />
            </div>
          </div>
          <img
                  alt="facebook8283"
                  src="./public/external/facebook8283-8zgf.svg"
                  class="home-facebook"
          />
          <img
                  alt="linkedin8283"
                  src="./public/external/linkedin8283-xa2n.svg"
                  class="home-linkedin"
          />
        </div>
        <div class="home-copy-menu-social-button">
          <div class="home-copyrightframe">
            <span class="home-text35">©</span>
            <span class="home-text36"><span>2024 Taste Tracker</span></span>
          </div>
          <div class="home-menu1">
            <span class="home-text40"><span>Start</span></span>
            <span class="home-text40"><span>O projekcie</span></span>
            <span class="home-text40"><span>Kontakt</span></span>
          </div>
        </div>
      </div>
    </footer>
   
  </div>
</body>
</html>
