<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
  <main class="main-content" layout:fragment="content">
  <div class="home-container">
    <div class="restaurants-container">
      <div class="restaurant-item">
        <img class="restaurant-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Restauracja 1">
        <div class="restaurant-details">
          <h2 class="restaurant-name">Nazwa Restauracji 1</h2>
          <p class="restaurant-description">Opis restauracji Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="restaurant-location">Lokalizacja: Miasto 1, Kraj 1</p>
        </div>
      </div>
      <div class="restaurant-item">
        <img class="restaurant-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Restauracja 2">
        <div class="restaurant-details">
          <h2 class="restaurant-name">Nazwa Restauracji 2</h2>
          <p class="restaurant-description">Opis restauracji Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="restaurant-location">Lokalizacja: Miasto 2, Kraj 2</p>
        </div>
      </div>
      <div class="restaurant-item">
        <img class="restaurant-image" src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_640.jpg" alt="Restauracja 2">
        <div class="restaurant-details">
          <h2 class="restaurant-name">Nazwa Restauracji 2</h2>
          <p class="restaurant-description">Opis restauracji Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="restaurant-location">Lokalizacja: Miasto 2, Kraj 2</p>
        </div>
      </div>
    </div>
  </div>
  </main>
</body>
</html>
