<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzenie Rejestracji - TasteTracker</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">

<div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

    <h2 style="color: #333;">Witaj w TasteTracker!</h2>
    <p>Dziękujemy za rejestrację w naszym serwisie. Twwoje konto zostało pomyślnie utworzone.</p>

    <p style="margin-top: 20px;">Aby zacząć korzystać z TasteTracker, prosimy o potwierdzenie swojego adresu e-mail, klikając poniższy link:</p>

    <a href="{dynamicText}" style="display: inline-block; background-color: #4caf50; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-top: 20px;">Potwierdź Rejestrację</a>

    <p style="margin-top: 20px;">Jeśli nie rejestrowałeś się w TasteTracker, zignoruj tę wiadomość.</p>

    <p style="margin-top: 20px;">Dziękujemy,<br>Zespół TasteTracker</p>

</div>

</body>
</html>
